/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field {
  padding-top: 20px;
}

legend {
  font-size: 16px;
  font-weight: bold;
  padding-top: 20px;
}

.mat-radio-label-content {
  padding-right: 20px !important;
}

input[readonly] {
  background-color: darkgray;
}

.custom-short-input .mat-form-field {
  width: 10% !important;
}
