<h1>Pridat dar</h1>
<form>

    <div class="row">
        <div class="col-xs-12">
           
            <div class="form-group">
                <label for="title">Název jídla*</label>
                <input
                type="text"
                id="title"
                class="form-control"
                required
                >
            </div>  
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
           
            <div class="form-group">
                <label for="title">Adresa*</label>
                <input
                type="text"
                id="title"
                class="form-control"
                required
                >
            </div>  
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
           
            <div class="form-group">
                <label for="title">Město*</label>
                <input
                type="text"
                id="title"
                class="form-control"
                required
                >
            </div>  
        </div>
    </div>
    <div class="row">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Možnost rezervace</label>
        </div>
    </div>
    <div class="row">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Po zaruce</label>
        </div>
    </div>
   <button   
        type="submit"  
        class="btn btn-large">
        Odoslat
    </button>
</form>
