input.ng-invalid.ng-touched{
    border: 1px solid red;
  }

  form{

    padding-right: 100px;
    text-align: left;
    position: relative;
    width: 70%;
    left: 0;
    margin:0 auto;
    padding-left: 100px;

  }

  * {
    box-sizing: border-box;
  }
  input, textarea, .delbtn {
    display:block;
    width:100%;
    margin:10px 0;
    padding:10px;
  }

  .delbtn{
    margin:20px 0;
  }
  .form-control {
    border-radius:10px;
    border: 1px solid #eee;
    transition: .3s border-color;
  }
  .form-control:hover {
    border: 1px solid #aaa;
  }
  label{
    float: left;
    display: block;
  }

  span{
    float: left;
    margin-bottom: 2px;
  }

  .form-check-label{
    padding-top: 10px;
    margin: 0 auto;
    padding-left: 15px;

  }

  .form-check-input{
    margin-left: 0%;
    width: 50px;

  }

  .form-check-input:checked {
    background-color: #ff8c00;
  }

  .btn{
    margin-top: 15px;
    float: left;
    margin-bottom: 10px;

    

  }
  .btn-large{
    font-size: medium;
    background-color: #ff8c00;
  }

  .alert{
    color: #dd0031 ;
    font-size: small;

  
  }

h1{
  padding-left: 200px;
  padding-top: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}