.content {
    padding: 16px;
    padding-right: 100px;
    padding-left: 100px;
}

.content > mat-card {
    background-color: #ff8c00;
}

.mat-card {
    border-radius: 3%;
    border: 2px solid #ff8c00;
    text-align: center;
}

button{
    border: 2px solid #ff8c00;
}

mat-card-header{
    display: inline-block;
    text-align: center;
}

mat-card-content{
    text-align: left;
}
mat-card-actions{
    text-align: left;
}

button:hover{
    background-color: #ff8c00;
}

button:disabled{
    background-color: #ff8c00;
}
img{
    height: 150px;
    width: 100%;
}

h4{
    padding-bottom: 0%;
    display: inline;
    font-weight: bold;
}

p{
    word-wrap: break-word;
}

.button-active{
    background-color: #ff8c00;
    font-weight: bold;
}

.card-dasabled > .mat-card{
    border: 2px solid #fff;;
}

.card-dasabled > .mat-card-content h4{
    color: #ccc;
}

.card-dasabled > .mat-card-content p{
    color: #ccc;
}

.card-dasabled > .mat-card-header{
    color: #ccc;
}

.card-dasabled > img{
    opacity:0.5;
}

