

<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="header-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">{{ currentPage}}</h1>

    <a class="header-toolbar-item" href="https://material.angular.io/" style="right: 300px">
      <img src="assets/img/material.png" width="20%"/>
    </a>
    <a class="header-toolbar-item" href="https://angular.io/" style="right: 300px">
      <img src="assets/img/angular.png" width="20%"/>
    </a>
    <a class="header-toolbar-item" href="https://formly.dev/ui/material" style="right: 120px">
      <img src="assets/img/angular-formly.png" width="20%"/>
    </a>


    <p class="header-toolbar-item" style="right: 200px">{{ user?.email }}</p>
    <img src="{{ user?.photoUrl }}" class="header-toolbar-item" style="right: 120px" width="50px">


    <button mat-icon-button (click)="signInWithGoogle()" style="right: 80px;position: absolute;">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button (click)="signOut()" style="right: 40px;position: absolute;">
      <mat-icon>logout</mat-icon>
    </button>
    <button mat-icon-button (click)="refreshGoogleToken()" style="right: 10px;position: absolute;">
      <mat-icon>refresh</mat-icon>
    </button>

  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <a mat-list-item (click)="snav.toggle();navigateToClient()">Klient</a>
        <a mat-list-item (click)="snav.toggle();navigateToFutureClient()">Budouci Klient</a>
        <a mat-list-item (click)="snav.toggle();navigateToEmails()">Emaily</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <app-footer fxFlexOffset="auto"></app-footer>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
